{
    margin:0;
    padding:0;
}



header{
    background-color: rgb(255, 255, 255);
    min-height: 80px;

}
#googlepart{
    /* background-image:url('try6.png'); */
    min-height: 300px;
}


#howtoreach{
    background-color: rgb(255, 255, 255);
    min-height: 500px;
}
.card{ /*to check  */
    width: 18rem;
}

.form-control{
    width: 50%;
}

#forms{
    background-color: rgb(238, 236, 236);
    min-height: 300px;
}

footer{
    background-color: rgb(255, 255, 255);
    height: 60px;
}