a:link{
	color: white;
}
a:hover{
	color: yellow;
}

footer{
	background-color:#484848;
	font-size: 14px;
	text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
}