a:link {
    color: white;
}

a:hover {
    color: yellow;
}

footer {
    background-color:#484848;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
}
#title{
    font-size: 18px;
    color: white;
}

.foot{
    color:white;
}
/* Removing the padding and margin from top and bottom */

html, body {
    padding: 0;
    margin: 0;
}

#tit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #b30000;
    font-style: normal;
    margin-bottom: 5%;
    font-weight: bold;
}

/* Top Wide Image */

.jumbotron {
    min-height: 300px;
    background-image: url(img/wide-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

/* Breadcumb */

.breadcrumb {
    background-color: black;
}

.breadcrumb>li {
    color: white
}

.breadcrumb-item {
    font-weight: bold;
}


.panel-body {
    text-align: center;
}

.subt {
    font-size: 12px;
    text-align: center;
}

a.staff {
    color: black;
    text-align: center;
}
img{
    height: 170px;
    width: 170px;
}