#googlepart{
    /* background-image:url('try6.png'); */
    min-height: 300px;
}

#callcenter{
padding-left: 0;
padding-top: 25px;
font-size: 25%;
}

#howtoreach{
    background-color: rgb(255, 255, 255);
    min-height: 500px;
}


#forms{
    min-height: 300px;
    padding-left: 20px;
    width: 95%;
}

.btn.btn-primary{
    border-radius: 25px;
}

#imagepart{
    background-image:url('header-eventi.jpg');
    background-size: 400px;
     min-height: 200px;
     min-width: 200px;
 }
  
 /* buttons for all months*/
 .btn.btn-success:focus{
 background-color: red;
 }
 
 .btn.btn-success:visited{
     background-color: blue;
     }
     
 #Events{
     background-color: rgb(255, 255, 255);
     min-height: 500px;
 }
 
 .card-img-overlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

.container .row .col-md-4 .card-img-overlay .card-text {
    position: absolute;
    bottom: 8px;
  }

.card{
  text-align: justify;
  margin-bottom: 10px;
  width: 300px;
}

.foot{
    color:white;
}





