/* logo */
#logo {
    width: 210px;
    height: 65px;
}


/* top main menu */
.nav-item {
    font-size: 24px;
    font-weight: bold;
}

li.nav-item {
    padding: 10px 20px;
}

.nav-link:hover{
    background-color:#cd2122;
    color: white !important;
}

 .active .nav-link, .nav-link:active {
    background-color:#3CC200;
    color: white !important;
}